<div id="<%= dom_id workout %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Gym:</strong>
    <%= workout.gym_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= workout.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Warm up:</strong>
    <%= workout.warm_up %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Skill:</strong>
    <%= workout.skill %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Wod:</strong>
    <%= workout.wod %>
  </div>
</div>
